<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ohmage.wifigpslocation">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <service
            android:name=".WiFiGPSLocationService"
            android:exported="true"
            android:label=".WiFiGPSLocationService">
            <intent-filter>
                <action android:name="org.ohmage.wifigpslocation.IWiFiGPSLocationService" />
            </intent-filter>
        </service>

    </application>

</manifest>
